<%- include('includes/header.ejs') %>

<h1><%= title %></h1>

<p>Please paste the following token to get your information : </p>
<div class="token">
    <p><%= token %></p>
</div>


<%- include('includes/footer.ejs') %>